@model Book

<tr>
    <td>@Model.BookId</td>
    <td>@Model.Title</td>
    <td>@Model.AuthorFirst @Model.AuthorMiddle @Model.AuthorLast</td>
    <td>@Model.Publisher</td>
    <td>@Model.ISBN</td>
    <td>@Model.Category, @Model.SubCategory</td>
    <td>@Model.NumPages</td>
    <td>$@Model.Price</td>
</tr>